streamlit==1.54.0
folium==0.20.0
streamlit-folium==0.26.2
geopandas==1.1.2
pandas==2.3.3
numpy==2.4.2
python-dotenv==1.2.1
requests==2.32.5
pysolar==0.13
pytz==2025.2
osmnx==2.1.0
networkx==3.6.1
scikit-learn==1.8.0
scipy==1.17.1